# Copyright (C) SuperDARN Canada, University of Saskatchewan 
# Author(s): Marina Schmidt 
#
# Travis-CI script for testing builds, unit tests, linter and converage tests 
language: python 
python: 
- 3.7 
- 3.6

matrix: 
    include:
    - os: linux
      dist: trusty
      name: ubuntu 14.04
      python: 3.6
    - os: linux
      dist: xenial
      name: ubuntu 16.04
      before_install:
          - pip3 install -U pip
    - name: ubuntu 18.04 
      os: linux
      dist: bionic
      before_install:
          - pip3 install -U pip
    - name: PEP8 
      os: linux
      python: 3.7
      before_install:
          - pip3 install -U pip
          - pip3 install flake8 mypy
      script: 
      - flake8 --exit-zero --ignore=E501,F401
      - mypy . 
    - name: MacOS
      os: osx
      language: minimal
      before_install:
          - pip3 install -U pip
    - name: Windows
      os: windows
      language: shell
      before_install:
          - choco install python3 --version 3.7.0
          - python -m pip install --upgrade pip
      env: export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
          

install:
    - pip3 install .
    - pip3 install  pytest
script: pytest --ignore=test/performance --ignore=test/integration 
